<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <link rel="stylesheet" href="/assets/semantic/semantic.min.css">
    <style>
        .main.container{
            margin-top: 7em;
        }
    </style>  
     <meta name="viewport" content="width= , initial-scale=1.0">
    <title>Demo</title>
</head>
<body>
    <div class="ui fixed inverted menu">
       <a href="/" class="header item">Acceuill</a>
    </div>
    <div class="ui main container">
    <% if(locals.flash && locals.flash.error  ){ %>
    <div class="ui negative message">
        
        <%= flash.error  %>  
    </div>
    <% } %>
    <% if(locals.flash && locals.flash.success  ){ %>
        <div class="ui positive message">
            
            <%= flash.success  %>  
        </div>
        <% } %>
       

    